
body {
}

.page {
	position: relative;
}

.page__title {
	text-align: center;
}


// {{ === HEADER }}

#top-wrapper {
	background: #fff url(../images/bg.png) repeat-x;
	height: 220px;
}

.header {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 90px; // + 56px;
	@include transition(all 200ms linear);
	
	.site__name {
		@include hide-text();
		@include transition(all 250ms linear);
		position: absolute;
		top: 21px;
		left: 0;
		display: block;

		a {
			display: block;
			width: 160px;
			height: 56px;
			background: url(../images/comfortini-logo.png) no-repeat;
		}
	}

	.follow-links {
		position: absolute;
		top: 15px;
		right: 0;
	}

	.mini-search-form {
		position: absolute;
		top: 60px;
		right: 0;
	}

	.main-nav {		
		@include transition(250ms linear);
	}
	.main-nav { 
		position: absolute;
		top: 120px;
		width: 100%;
	}
}


// {{ === MAIN }}

.main {
	@include clearfix;
	padding: 0em 0 4em 0;
	margin: 0 auto;
	width: 960px;
}


.content {
	min-height: 300px;
}


// {{ === FOOTER }}

#footer-wrapper {
	clear: both;
	// background: #DEECF6;
}

.footer {
	@include clearfix;
	padding: 1em 0 4em;
	margin: 0 auto;
	width: 960px;
	border-top: 2px solid #d0d0d0;
}

