//
// Typography
// 

body {
  color: $text-color;
  font-weight: normal;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
  //-webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: normal; 
  font-size: 34px;
  line-height: 36px;
}

#page__title,
.page__title {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #4A4949;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
}

h2 {
  font-weight: $headings-font-weight; 
  font-size: 20px;
  line-height: 23px;
}

strong {
  //font-weight: 600;
}