.sharethis-wrapper * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *behavior: none;
}

.sharethis-wrapper * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  *behavior: none;
}

/* No files to import found in abstractions/**\/* */
.form-text {
  color: #777;
  border-radius: 6px;
  border: 2px solid #D8D8D8;
  padding: 10px 10px;
  line-height: 1.3em;
}

.form-submit {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  line-height: 1.3em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #eee;
  border: 2px solid #eee;
  border-radius: 6px;
}

figure {
  margin: 0;
}

body {
  color: #353535;
  font-weight: normal;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: #0099d8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
}

#page__title,
.page__title {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #4A4949;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.page {
  position: relative;
}

.page__title {
  text-align: center;
}

#top-wrapper {
  background: white url(../images/bg.png) repeat-x;
  height: 220px;
}

.header {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 90px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.header .site__name {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  position: absolute;
  top: 21px;
  left: 0;
  display: block;
}
.header .site__name a {
  display: block;
  width: 160px;
  height: 56px;
  background: url(../images/comfortini-logo.png) no-repeat;
}
.header .follow-links {
  position: absolute;
  top: 15px;
  right: 0;
}
.header .mini-search-form {
  position: absolute;
  top: 60px;
  right: 0;
}
.header .main-nav {
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
}
.header .main-nav {
  position: absolute;
  top: 120px;
  width: 100%;
}

.main {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding: 0em 0 4em 0;
  margin: 0 auto;
  width: 960px;
}
.main:before, .main:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.main:after {
  clear: both;
}

.content {
  min-height: 300px;
}

#footer-wrapper {
  clear: both;
}

.footer {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding: 1em 0 4em;
  margin: 0 auto;
  width: 960px;
  border-top: 2px solid #d0d0d0;
}
.footer:before, .footer:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.footer:after {
  clear: both;
}

.field--csd-creview {
  list-style: none;
  padding: 0 0 0 1.5em;
  margin: 0 0 2.5em 0;
  border-left: 4px solid #D8D8D8;
}
.field--csd-creview .field--title {
  font-size: 14px;
  line-height: 1em;
  margin: 0;
}
.field--csd-creview .field--csd-creview-author {
  margin: 0 0 .5em 0;
}
.field--csd-creview li {
  border-left: 4px solid #d8d8d8;
  padding: 0 0 0 1.5em;
  margin: 0 0 1em 0;
}

.footer-nav {
  text-align: right;
}
.footer-nav ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  list-style: none;
  display: inline;
  margin-right: .4em;
}
.footer-nav a {
  color: #767676;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #0099d8;
  text-decoration: underline;
}
.footer-nav a.active, .footer-nav a.active-trail {
  color: #0099d8;
  text-decoration: underline;
}

.main-nav {
  background: #88f;
  line-height: 60px;
  border-radius: 7px;
  background: url(../images/main-nav.png) repeat-x;
  font-weight: bold;
}
.main-nav a {
  color: #fff;
  text-decoration: none;
}
.main-nav a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.main-nav a.active-trail,
.main-nav a.active {
  color: rgba(255, 255, 255, 0.8);
}
.main-nav ul {
  padding: 0 15px;
  margin: 0;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

.mini-search-form {
  border-radius: 26px;
  border: 2px solid #D8D8D8;
  padding: 2px 16px;
}
.mini-search-form input {
  border: none;
  margin: 0;
}
.mini-search-form .form-item.form-type-textfield {
  display: inline-block;
  margin: 0;
}
.mini-search-form .form-text {
  color: #777;
  line-height: 14px;
  outline: none;
  width: 12em;
  padding: 10px 0 9px;
  border-radius: 26px;
}
.mini-search-form .form-submit {
  background: url(../images/search-btn.png) no-repeat center center;
  text-indent: -1000px;
  width: 20px;
  line-height: 30px;
  height: 30px;
  padding: 0;
  margin: -3px -4px 0 0;
}

.search-api-page-search-form .form-item.form-type-textfield {
  display: inline-block;
  margin: 0;
}

.wrapper.tagclouds,
.pane--tagclouds {
  margin-right: 1em;
}

.tagclouds.level1 {
  font-weight: bold;
  font-size: 0.8em;
}
.tagclouds.level2 {
  font-weight: bold;
  font-size: 0.85em;
}
.tagclouds.level3 {
  font-weight: bold;
  font-size: 0.9em;
}
.tagclouds.level4 {
  font-weight: bold;
  font-size: 0.95em;
}
.tagclouds.level5 {
  font-weight: bold;
  font-size: 1.0em;
}
.tagclouds.level6 {
  font-weight: bold;
  font-size: 1.05em;
}
.tagclouds.level7 {
  font-weight: bold;
  font-size: 1.1em;
}
.tagclouds.level8 {
  font-weight: bold;
  font-size: 1.15em;
}
.tagclouds.level9 {
  font-weight: bold;
  font-size: 1.2em;
}
.tagclouds.level10 {
  font-weight: bold;
  font-size: 1.25em;
}

body.node-type-csd-product .mo-basic-region__first {
  width: 533px;
  float: left;
  margin-right: 39px;
}
body.node-type-csd-product .mo-basic-region__first .field--image {
  margin: 0 0 3em 0;
}
body.node-type-csd-product .mo-basic-region__first .field--image img {
  display: block;
}
body.node-type-csd-product .mo-basic-region__first .field--body {
  margin-bottom: 3em;
}
body.node-type-csd-product .mo-basic-region__first .pane--node-field-csd-creview {
  margin-bottom: 3em;
}

body.node-type-csd-product .mo-basic-region__second {
  width: 350px;
  float: left;
}
body.node-type-csd-product .mo-basic-region__second .pane--page-breadcrumb {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #747474;
  list-style: none;
}
body.node-type-csd-product .mo-basic-region__second .pane--page-breadcrumb a {
  text-decoration: none;
  color: #747474;
}
body.node-type-csd-product .mo-basic-region__second .pane--page-breadcrumb a:hover {
  text-decoration: underline;
}
body.node-type-csd-product .mo-basic-region__second .pane--page-breadcrumb ul {
  padding: 0;
  margin-right: 0;
}
body.node-type-csd-product .mo-basic-region__second .pane--page-breadcrumb li {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
}
body.node-type-csd-product .mo-basic-region__second .page__title {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #424242;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 1em;
}
body.node-type-csd-product .mo-basic-region__second .field--csd-price,
body.node-type-csd-product .mo-basic-region__second .field--csd-price2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  line-height: 29px;
}
body.node-type-csd-product .mo-basic-region__second .pane--csdrupal-buy-btn-pane {
  text-align: center;
}
body.node-type-csd-product .mo-basic-region__second .btn--buy {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 40px;
  background: #1D991E;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 20px;
  padding: 13px 40px;
  margin-bottom: 4em;
}
body.node-type-csd-product .mo-basic-region__second .btn--buy:hover {
  text-decoration: none;
}
body.node-type-csd-product .mo-basic-region__second .sharethis-wrapper {
  border-bottom: 2px solid #d8d8d8;
  padding: 0 2em 1.5em;
  margin-bottom: 2em;
}
body.node-type-csd-product .mo-basic-region__second .pane--facebook-boxes-fb-like {
  margin-bottom: 2em;
}

.node--csd-product--mini-teaser {
  text-align: center;
  margin-bottom: 4em;
}
.node--csd-product--mini-teaser .field--image {
  margin: 0 0 .6em 0;
}
.node--csd-product--mini-teaser .field--image img {
  display: block;
}
.node--csd-product--mini-teaser .node__title {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.1175em;
  margin: 0 0 1em 0;
}
.node--csd-product--mini-teaser .node__title a {
  color: #616161;
  text-decoration: none;
}
.node--csd-product--mini-teaser .field--csd-price,
.node--csd-product--mini-teaser .field--csd-price2 {
  font-size: 15px;
  font-weight: bold;
  color: #6A6A6A;
}

.node--csd-product--teaser {
  position: relative;
  text-align: center;
  height: 480px;
  margin-bottom: 3em;
  padding-bottom: 7px;
}
.node--csd-product--teaser .field--image {
  margin: 0 0 .9em 0;
}
.node--csd-product--teaser .field--image img {
  display: block;
}
.node--csd-product--teaser .node__title {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.1175em;
  margin: 0 0 1em 0;
  color: #424242;
}
.node--csd-product--teaser .node__title a {
  color: #222222;
  text-decoration: none;
}
.node--csd-product--teaser .field--csd-price,
.node--csd-product--teaser .field--csd-price2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #6A6A6A;
}
.node--csd-product--teaser .pane--csdrupal-buy-btn-pane {
  text-align: center;
  position: absolute;
  bottom: 54px;
  width: 100%;
}
.node--csd-product--teaser .btn--buy {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 40px;
  background: #1D991E;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 20px;
  padding: 5px 20px 4px;
  /*margin-bottom: 4em;*/
}
.node--csd-product--teaser .btn--buy:hover {
  text-decoration: none;
}
.node--csd-product--teaser .sharethis-wrapper {
  position: absolute;
  bottom: 7px;
}

.view-csd-products,
.view-csd-products.view-display-id-panel_pane_1,
.search-api-page-results .search-results {
  width: 915px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.view-csd-products .node--csd-product--teaser,
.view-csd-products.view-display-id-panel_pane_1 .node--csd-product--teaser,
.search-api-page-results .search-results .node--csd-product--teaser {
  width: 289px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 2px solid #D8D8D8;
}

.view-csd-most-popular-products,
.view-csd-related-products {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin-right: -16px;
}
.view-csd-most-popular-products:before, .view-csd-most-popular-products:after,
.view-csd-related-products:before,
.view-csd-related-products:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.view-csd-most-popular-products:after,
.view-csd-related-products:after {
  clear: both;
}
.view-csd-most-popular-products ul,
.view-csd-related-products ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}
.view-csd-most-popular-products li,
.view-csd-related-products li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.view-csd-most-popular-products li .node,
.view-csd-related-products li .node {
  float: left;
  width: 167px;
  height: 200px;
  margin-right: 16px;
}
