//
// Customer review field
//

.field--csd-creview {
	list-style: none;
	padding: 0 0 0 1.5em;
	margin: 0 0 2.5em 0;
	border-left: 4px solid #D8D8D8;

	.field--title {
		font-size: 14px;
		line-height: 1em;
		margin: 0;
	}

	.field--csd-creview-author {
		margin: 0 0 .5em 0;
	}

	li {
		border-left: 4px solid #d8d8d8;
		padding: 0 0 0 1.5em;
		margin: 0 0 1em 0;
	}
}