
.footer-nav {
	text-align: right;

	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		display: inline;
		margin-right: .4em;
	}

	a {
		color: #767676;
		text-decoration: none;
		
		&:hover {
			color: $link-color;
			text-decoration: underline;
		}
		&.active,
		&.active-trail {
			color: $link-color;
			text-decoration: underline;
		}
	}
}
