// 
// Navigation
//

.main-nav {
	background: #88f;
	line-height: 60px;
	border-radius: 7px;
	background: url(../images/main-nav.png) repeat-x;
	font-weight: bold;

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: rgba(255,255,255,.6);
		}
	}

	a.active-trail,
	a.active {
		color: rgba(255,255,255,.8);
	}


	ul {
		padding: 0 15px;
		margin: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0 10px;
	}
}