
.mini-search-form {
	border-radius: 26px;
	border: 2px solid #D8D8D8;
	padding: 2px 16px;

	input {
		border: none;
		margin: 0;
	}

	.form-item.form-type-textfield {
		display: inline-block;
		margin: 0;
	}

	.form-text {
		color: #777;
		line-height: 14px;
		outline: none;
		width: 12em;
		padding: 10px 0 9px;
		border-radius: 26px;
	}

	.form-submit {
		background: url(../images/search-btn.png) no-repeat center center;
		text-indent: -1000px;
		width: 20px;
		line-height: 30px;
		height: 30px;
		padding: 0;
		margin: -3px -4px 0 0;
	}
}