//
// Tagclouds 
//

.wrapper.tagclouds,
.pane--tagclouds, {
  //text-align: justify;
  margin-right: 1em;
}

.tagclouds {
  &.level1  { font-weight: bold; font-size: 0.8em; }
  &.level2  { font-weight: bold; font-size: 0.85em; }
  &.level3  { font-weight: bold; font-size: 0.9em; }
  &.level4  { font-weight: bold; font-size: 0.95em; }
  &.level5  { font-weight: bold; font-size: 1.0em; }
  &.level6  { font-weight: bold; font-size: 1.05em; }
  &.level7  { font-weight: bold; font-size: 1.1em; }
  &.level8  { font-weight: bold; font-size: 1.15em; }
  &.level9  { font-weight: bold; font-size: 1.2em; }
  &.level10 { font-weight: bold; font-size: 1.25em; }
}
