//
// Node "CS Drupal: Product" Fullpage
//

body.node-type-csd-product .mo-basic-region__first {

	width: 533px;
	float: left;
	margin-right: 572px - 533px;

	.field--image {
		margin: 0 0 3em 0;

		img {
			display: block;
		}
	}

	.pane {
	}

	.field--body {
		margin-bottom: 3em;		
	}

	.pane--node-field-csd-creview {
		margin-bottom: 3em;
	}
}

body.node-type-csd-product .mo-basic-region__second {
	width: 350px;
	float: left;

	.pane--page-breadcrumb {
		text-align: center;
		font-size: 14px;
		line-height: 17px;
		color: #747474;
		list-style: none;

		a {
			text-decoration: none;
			color: #747474;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			padding: 0;
			margin-right: 0;
		}

		li {
			list-style: none;
			padding: 0;
			margin: 0 10px 0 0;
		}
	}

	.page__title {
		text-align: center;
		font-size: 24px;
		font-weight: normal;
		color: #424242;
		line-height: 28px;
		margin-top: 0;
		margin-bottom: 1em;
	}

	.field--csd-price,
	.field--csd-price2, {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		color: #333333;
		line-height: 29px;
	}

	.pane--csdrupal-buy-btn-pane {
		text-align: center;
	}

	.btn--buy {	
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 40px;
		background: #1D991E;
		font-size: 16px;
		font-weight: bold;
		color: #FFFFFF;
		line-height: 20px;
		padding: 13px 40px;
		margin-bottom: 4em;

		&:hover {
			text-decoration: none;
		}
	}

	.sharethis-wrapper {
		border-bottom: 2px solid #d8d8d8;
		padding: 0 2em 1.5em;
		margin-bottom: 2em;
	}

	.pane--facebook-boxes-fb-like {
		margin-bottom: 2em;
	}
}

body.node-type-csd-product {

	.pane--csd-related-products-pane-1 {
	}
}

